<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="../css/login.css"> 
    </head>
    <body> 
        <video class="background-video" autoplay muted loop>
            <source src="./29942-378294545_tiny.mp4" type="video/mp4">
            <source src="./29942-378294545_tiny.mp4" type="video/webm">
        </video>
        <div class="wrapper">
            <div class="logo">
                <img src="./image/image copy 5.png" alt="">
            </div>
            <div class="name">
                    SIGN IN
            </div>
            <form class="p-3 mt-3" method="POST" action="/userlogin" >
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" name="password" id="pwd" placeholder="Password">
                </div>
                <button class="btn mt-3">Sign In</button>
                </form>
                <div class="forget">
                    <a href="/">Back?</a> or <a href="userregister">Sign up</a>
                </div>
            </div>
        </body>   
</html>